body {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box {
  background-color: #060ce9;
  width: 16%;
  height: 170px;
  margin: 2px;
  text-align: center;
  color: whitesmoke;
}
