main {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
body {
  background-color: black;
}
.box {
  background-color: #060ce9;
  width: 16%;
  height: 170px;
  margin: 2px;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  line-height: 170px;
  border-radius: 10px;
}
.question:hover {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
main {
  width: 100%;
}
footer {
  width: 100%;
  color: whitesmoke;
}
header {
  display: flex;
  justify-content: center;
}

img {
  width: 80%;
}
